{% extends "base.html" %}

{% block content %}
  <h1 class="page-title">Menu Page</h1>
  <div class="menu">
    <h2>Details for {{ store.store_name}}'s {{ menu.category }} menu</h2>
      {% if menu.items %}
      <div class="row">

      {% for item in menu.items%}
        <div class="col s12"><h5>Details for {{ item.item_name}}</h5></div>
        <div class="col s2">section: {{ item.section }}</div>
        <div class="col s7">description: {{ item.description }}</div>
        <div class="col s2">price: ${{ item.price }}</div>
      {% endfor %}
     </div>
      {% endif %}
      <h3> <a href="{{ url_for('new_item', menu_id=menu.id) }}"> Add new item to the {{ menu.category }} menu</h3>
  </div>
{% endblock %}
