{% extends "base.html" %}

{% block content %}
  <h1 class="page-title">New Menu Item</h1>
  <h2>Add a category for the menu</h2>
  <div class="row">
    <form class="col s12" name="new_menu" method="post">
      {{ form.hidden_tag() }}
      <p> Type in category (Breakfast, Lunch, Dinner, etc)</p>
      <p>Category: {{ form.category(size=80)}}
      <button class="btn red waves-effect waves-green" type="submit" name="action">Send
          <i class="material-icons right">send</i>
      </button>
      </form>
    </form>
  </div>
{% endblock %}
